<template>
  <div class="about">
    <h1>This is an about page</h1>
    <button @click="logout">LOG OUT</button>
  </div>
</template>

<script>
export default {
  beforeMount() {
  },
  methods: {
    logout(){
      this.$auth.logout();
    }
  }
}
</script>
