<template>
    <v-app>
    <v-toolbar app color="primary">
      <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
      <v-toolbar-title class="white--text">Title</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat class="white--text">Link One</v-btn>
        <v-btn flat class="white--text">Link Two</v-btn>
        <v-btn flat class="white--text">Link Three</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content class="overflow-hidden">
      <FoodListing/>
    </v-content>
  </v-app>
</template>

<script>
import FoodListing from "@/components/FoodListing";
export default {
  name: "listing",
  components: {
    FoodListing
  }
};
</script>
