<template>
  <div>
    <v-img :src="imageSrc" contain height="300"></v-img>
    <!-- <div v-for="(text, idx) in text.split('\n')" :key="idx">{{text}}</div> -->
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn flat fab color="primary" v-on="on">
          <v-icon>check_circle</v-icon>
        </v-btn>
      </template>
      <span>Yes</span>
    </v-tooltip>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn flat fab color="error" v-on="on">
          <v-icon>highlight_off</v-icon>
        </v-btn>
      </template>
      <span>No</span>
    </v-tooltip>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn flat fab color="success" v-on="on">
          <v-icon>fa-leaf</v-icon>
        </v-btn>
      </template>
      <span>Light</span>
    </v-tooltip>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn flat fab color="grey" v-on="on">
          <v-icon>more_horiz</v-icon>
        </v-btn>
      </template>
      <span>More</span>
    </v-tooltip>
  </div>
</template>
<script>
export default {
  props: {
    text: String,
    imageSrc: String
  }
};
</script>
