<template>
  
  <v-tabs grow ripple>
    <v-tab v-for="(card,idx) in cards" :key="idx" :href="`#tab-${idx}`">{{getDay(card.day.getUTCDay())}}</v-tab>
    <v-tab-item v-for="(card,idx) in cards" :key="idx" :value="'tab-' + idx">
      <FoodCard :text="card.text" :imageSrc="card.img"/>
    </v-tab-item>
  </v-tabs>
</template>

<script>
import FoodCard from './FoodCard';
export default {
  components:{
    FoodCard
  },
  data: () => ({
    cards:[{
      img: 'img/Test.png',
      day: new Date('2019-04-01'),
      text:"Pollo en salsa jalapeña\nMarmahon\nVegetales\nEnsaladas\nGalletas\nTamarindo",
    },{
      img: 'img/Test2.png',
      day: new Date('2019-04-02'),
      text:""
    },{
      img: 'img/Test3.png',
      day: new Date('2019-04-03'),
      text:"Carne Roja\nArroz\nVegetales\nEnsaladas\nPie de Manzana\nPiña"
    },{
      img: 'img/Test4.png',
      day: new Date('2019-04-04'),
      text:"Carne Roja\nArroz\nVegetales\nEnsaladas\nPie de Manzana\nPiña"
    },{
      img: 'img/Test5.png',
      day: new Date('2019-04-05'),
      text:"Carne Roja\nArroz\nVegetales\nEnsaladas\nPie de Manzana\nPiña"
    }],
    days:[
      'Domingo',
      'Lunes',
      'Martes',
      'Miercoles',
      'Jueves',
      'Viernes',
      'Sábado',
    ]
  }),
  methods: {
    getDay(day){
      return this.days[day];
    }
  }
};
</script>

<style>

.horiz-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
</style>
