<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
      <router-link to="/food-listing">Food List</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  async created() {
    try {
      await this.$auth.renewTokens();
    } catch {
      // Supress the 'not logged in' error as we can illegitimately get that
      // when processing the callback url
    }
  }
}
</script>


<style scoped>
.overflow-hidden {
  overflow: hidden;
}
</style>
